@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "To do list";

}

@functions{

    public string boolStatusConverter(bool value)
    {
        if (value is false) return "In progress";
        else return "Done";
    }
}

<section class="vh-100" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card rounded-3">
                    <div class="card-body p-4">

                        <h4 class="text-center my-3 pb-3">To Do App</h4>

                        <div class="container">
                            <form class="row mb-4 pb-2 justify-content-md-center" method="post">
                                <div asp-validation-summary="ModelOnly"></div>
                                <div class="col-6">
                                    <div class="form-outline">
                                        <input type="text" asp-for="ToDo.Note" class="form-control" placeholder="Enter a task here" />
                                    </div>
                                </div>

                                <div class="col-md-auto">
                                    <button class="btn btn-primary">Save</button>
                                </div>

                                <div class="col-3">
                                    <button class="btn btn-secondary">Get tasks</button>
                                </div>
                                <span asp-validation-for="ToDo.Note" class="text-danger"></span>
                            </form>
                        </div>

                        <form method="post">
                            <table class="table mb-4">
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Todo item</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var todo in Model.ToDos)
                                    {
                                        <tr>
                                            <th scope="row">@todo.Id</th>
                                            <td>@todo.Note</td>
                                            <td>@boolStatusConverter(@todo.Done)</td>
                                            <td>
                                                <button type="submit" asp-page-handler="Delete" asp-route-id="@todo.Id" class="btn btn-danger">Delete</button>
                                                <button type="submit" asp-page-handler="MarkAsDone" asp-route-id="@todo.Id" class="btn btn-success ms-1">Finished</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>